@font-face {
    font-family: Montserrat;
    src: url("assets/fonts/Montserrat-Light.ttf");
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-family: Montserrat;
    min-height: 100vh;
    font-size: 20px;
    line-height: 1.5;
    color: #07093d;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style: none;
    padding: 0 20px;
    line-height: 50px;
    transition: .3s;
}

html {
    scroll-behavior: smooth;
}

.main-container {
    display: flex;
    flex-wrap: wrap;
}

.section {
    width: 50%;
}

@media (max-width: 768px) {
    .section {
        width: 100%;
    }
}

.section-title {
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 3px;
    color: #03042b;
}

.nav-link {
    margin: 0 10px;
    text-decoration: none;
    color: #1a1e20;
    transition: color 0.5s;
}

.profile-title {
    font-size: 23px;
}

.logo {
    width: 50px;
    height: 50px;
}

.footer-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-item {
    margin: 0 20px;
}

footer {
    background-color: #999999;
    padding-top: 5px;
}

header {
    background-color: #999999;
}

.nav-link:hover {
    color: #5a6062;
}

a {
    text-decoration: line;
    color: #000000;
    transition: 0.5s;
}

a:hover {
    text-decoration: none;
}